### Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import sqlalchemy
import urllib.parse

### HTTP Request

In [2]:
# store website in variable
website_url = 'https://www.zoopla.co.uk/for-sale/property/london/?q=london&results_sort=newest_listings&search_source=home'

# request
home_page = requests.get(website_url)

# creating soup object
home_page_soup = BeautifulSoup(home_page.text, 'lxml')

# get all properties results
properties = home_page_soup.find_all('div', {'data-testid':'search-result'})

In [3]:
# check the properties length
len(properties)

25

### Target the necessary data

- title
- address
- bed
- bath
- price
- email link
- property link

In [ ]:
# title
properties[0].find('h2', {'data-testid':'listing-title'}).text

# adress
properties[0].find('p', {'data-testid':'listing-description'}).text

# bedrooms
properties[0].find('div', {'data-testid':'listing-spec'}).findChildren('div')[0].text

# bathrooms
properties[0].find('div', {'data-testid':'listing-spec'}).findChildren('div')[1].text

# price
properties[0].find('div', {'data-testid':'listing-price'}).text.replace('£','')

#### email & property links

In [ ]:
email_link = properties[0].find('a', {'data-testid':'agent-contact-link'}).get('href')
property_link = properties[0].find('a', {'data-testid':'listing-details-link'}).get('href')

In [ ]:
# Creating base url for the property and email links
base_url = 'https://www.zoopla.co.uk'

In [ ]:
# connecting the base url with the property / email link to create a working url
base_url + email_link
base_url + property_link

In [4]:
# setting every data inside a list

lst_title = []
lst_address = []
lst_bed = []
lst_bath = []
lst_price = []
lst_email_link = []
lst_property_link = []

for property1 in properties:
    
    # sometimes there is information that is not listed so we append default value
        # Titles:
        try:
            lst_title.append(property1.find('h2', {'data-testid':'listing-title'}).text)
        except:
            lst_title.append('')

        # Adresses:
        try:
            lst_address.append(property1.find('p', {'data-testid':'listing-description'}).text)
        except:
            lst_address.append('')

        # Number of beds:
        try:
            lst_bed.append(int(property1.find('div', {'data-testid':'listing-spec'}).findChildren('div')[0].text))
        except:
            lst_bed.append(0)

        # Number of baths:
        try:
            lst_bath.append(int(property1.find('div', {'data-testid':'listing-spec'}).findChildren('div')[1].text))
        except:
            lst_bath.append(0)

        # Prices:
        # sometimes there is two 'p' inside the price 'div' in this case the price will be in the second 'p'
        try:
            try:
                lst_price.append(float(property1.find('div', {'data-testid':'listing-price'}).text.replace('£','').replace(',','')))
            except:
                lst_price.append(float(property1.find('div', {'data-testid':'listing-price'}).findChildren('p')[1].text.replace('£','').replace(',','')))
        except:
            lst_price.append(0.0)

        # Email links:
        try:
            lst_email_link.append(urllib.parse.urljoin(base_url, property1.find('a', {'data-testid':'agent-contact-link'}).get('href')))
        except:
            lst_email_link.append('')

        # Property links:
        try:
            lst_property_link.append(urllib.parse.urljoin(base_url, property1.find('a', {'data-testid':'listing-details-link'}).get('href')))
        except:
            lst_property_link.append('')

#### Create Pandas Dataframe

In [5]:
df_properties = pd.DataFrame({'title':lst_title, 'address':lst_address, 'beds':lst_bed, 'bathrooms':lst_bath, 
                              'price_£':lst_price,'email':lst_email_link, 'property_link':lst_property_link})

In [6]:
df_properties

,title,address,beds,bathrooms,price_£,email,property_link
0,4 bed semi-detached house for sale,"Crescent Road, New Barnet EN4",4,0,750000.0,,
1,Flat for sale,"""St Pier Court"" at 1 Academy House, Thunderer ...",1,1,329000.0,,
2,2 bed semi-detached house for sale,"Blithdale Road, Abbey Wood SE2",2,0,425000.0,,
3,1 bed detached house for sale,"""Emerson Apartments"" at Harrow View, Harrow HA1",1,1,312000.0,,
4,1 bed flat for sale,"""Kempton Apartments"" at Smithy Lane, Hounslow TW3",1,0,346000.0,,
5,1 bed flat for sale,"""Barnett Apartments"" at Nestles Avenue, Hayes UB3",1,1,368000.0,,
6,2 bed flat for sale,"""Parkview Apartments"" at Moorhen Drive, Edgwar...",2,0,519000.0,,
7,2 bed flat for sale,"Atlantis Avenue, London E16",2,1,402000.0,,
8,2 bed flat for sale,"Green Lanes, Winchmore Hill N21",2,1,505000.0,,
9,1 bed flat for sale,"Allendale Close, Camberwell, London SE5",1,0,350000.0,,
10,2 bed semi-detached house for sale,"St. Paul Close, Uxbridge, Middlesex UB8",2,1,375000.0,,
11,1 bed flat for sale,"Eastlight Apartments, 18 Dock Street, London E1",1,1,560000.0,,
12,3 bed flat for sale,"Seven Sisters Road, Islinton, London N7",3,1,570000.0,,
13,2 bed flat for sale,"Fountayne Road, London N16",2,1,550000.0,,
14,2 bed flat for sale,"Marylebone Square, Moxon Street, Marylebone W1U",2,2,5065000.0,,
15,2 bed flat for sale,"Clephane Road, Islington, London N1",2,1,590000.0,,
16,2 bed flat for sale,"Grove Vale, East Dulwich, London SE22",2,1,625000.0,,
17,7 bed detached house for sale,"Southwick Place, Hyde Park, London W2",7,6,11000000.0,,
18,1 bed flat for sale,"Kingswood Drive, Sutton SM2",1,1,240000.0,,
19,3 bed detached house for sale,"St. Faiths Road, London SE21",3,1,675000.0,,
20,1 bed flat for sale,"Magnetic Crescent, Enfield EN3",1,1,230000.0,,
21,3 bed semi-detached house for sale,"Middleton Road, Hayes UB3",3,0,524950.0,,
22,3 bed semi-detached house for sale,"Frogmore Avenue, Hayes, Middlesex UB4",3,0,555000.0,,
23,1 bed flat for sale,"Tottenham Hale, 1 Ashley Road N17",1,1,436000.0,,
24,2 bed flat for sale,"Merton Mansions, Bushey Road, Raynes Park SW20",2,0,425000.0,,

#### Output in Excel

In [7]:
df_properties.to_excel('properties.xlsx', index=False)

### Scrape first 50 Pages

In [8]:
lst_title = []
lst_address = []
lst_bed = []
lst_bath = []
lst_price = []
lst_email_link = []
lst_property_link = []

base_url = 'https://www.zoopla.co.uk'

In [9]:
for i in range(1,51):

    page_url = 'https://www.zoopla.co.uk/for-sale/property/london/?q=london&results_sort=newest_listings&search_source=home&pn=' + str(i)
    page = requests.get(page_url)
    page_soup = BeautifulSoup(page.text, 'lxml')

    results = page_soup.find_all('div', {'data-testid':'search-result'})

    for result in results:

        # sometimes there is information that is not listed so we append default value
        # Titles:
        try:
            lst_title.append(result.find('h2', {'data-testid':'listing-title'}).text)
        except:
            lst_title.append('')

        # Adresses:
        try:
            lst_address.append(result.find('p', {'data-testid':'listing-description'}).text)
        except:
            lst_address.append('')

        # Number of beds:
        try:
            lst_bed.append(int(result.find('div', {'data-testid':'listing-spec'}).findChildren('div')[0].text))
        except:
            lst_bed.append(0)

        # Number of baths:
        try:
            lst_bath.append(int(result.find('div', {'data-testid':'listing-spec'}).findChildren('div')[1].text))
        except:
            lst_bath.append(0)

        # Prices:
        # sometimes there is two 'p' inside the price 'div' in this case the price will be in the second 'p'
        try:
            try:
                lst_price.append(float(result.find('div', {'data-testid':'listing-price'}).text.replace('£','').replace(',','')))
            except:
                lst_price.append(float(result.find('div', {'data-testid':'listing-price'}).findChildren('p')[1].text.replace('£','').replace(',','')))
        except:
            lst_price.append(0.0)

        # Email links:
        try:
            lst_email_link.append(urllib.parse.urljoin(base_url, result.find('a', {'data-testid':'agent-contact-link'}).get('href')))
        except:
            lst_email_link.append('')

        # Property links:
        try:
            lst_property_link.append(urllib.parse.urljoin(base_url, result.find('a', {'data-testid':'listing-details-link'}).get('href')))
        except:
            lst_property_link.append('')

In [ ]:
df_properties_to_50 = pd.DataFrame({'title':lst_title, 'address':lst_address, 'beds':lst_bed, 'bathrooms':lst_bath, 
                          'price_£':lst_price,'email':lst_email_link, 'property_link':lst_property_link})

In [ ]:
# remove lines where there is missing data (price, bedrooms, bathrooms):

df_properties_to_50.drop(df_properties_to_50.loc[df_properties_to_50['beds'] == 0].index, inplace=True)
df_properties_to_50.drop(df_properties_to_50.loc[df_properties_to_50['bathrooms'] == 0].index, inplace=True)
df_properties_to_50.drop(df_properties_to_50.loc[df_properties_to_50['price_£'] == 0.0].index, inplace=True)

In [ ]:
df_properties_to_50

In [ ]:
df_properties_to_50.info()

#### Output to excel

In [ ]:
df_properties_to_50.to_excel('properties_first_50.xlsx', index=False)

#### Store in PostgreSQL

In [ ]:
# create sqlalchemy engine
engine = sqlalchemy.create_engine('postgresql://postgres:password@localhost:5432')
df_properties_to_50.to_sql('properties_50', engine, index=False)